.share {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}
.share .shareWrapper {
  padding: 10px;
}
.share .shareWrapper .shareTop {
  display: flex;
  align-items: center;
}
.share .shareWrapper .shareTop .shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.share .shareWrapper .shareTop .shareInput {
  border: none;
  width: 80%;
  outline: none;
}
.share .shareWrapper .shareHr {
  margin: 20px;
}
.share .shareWrapper .shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.share .shareWrapper .shareBottom .shareOptions {
  display: flex;
  margin-left: 20px;
}
.share .shareWrapper .shareBottom .shareOptions .shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}
.share .shareWrapper .shareBottom .shareOptions .shareOption .shareIcon {
  font-size: 18px;
  margin-right: 5px;
}
.share .shareWrapper .shareBottom .shareOptions .shareOption .shareOptionText {
  font-size: 14px;
  font-weight: 500;
}

.share .shareWrapper .shareBottom .shareBtn {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: green;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}
.shareImageContainer {
  padding: 0px 20px 10px 20px;
  position: relative;
}
.shareImg {
  width: 100%;
  object-fit: cover;
}
.shareCancelImage {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  opacity: 0.3;
}
