.profile {
  display: flex;
}
.profile .profileRight {
  flex: 9;
}
.profileRight .profileRightTop .profileCover {
  height: 320px;
  position: relative;
}
.profileRight .profileRightTop .profileCover .profileCoverImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.profileRight .profileRightTop .profileCover .profilePictureContainer label {
  position: absolute;
  top: 280px;
  right: 450px;
  cursor: pointer;
}
.profileRight .profileRightTop .profileCover .profilePictureContainer input {
  display: none;
}
.profileRight .profileRightTop .profileCover .profileUserImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
  margin: auto;
  border: 3px solid white;
  background-color: white;
}
.profileRight .profileRightTop .profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profileRight .profileRightTop .profileInfo .profileInfoName {
  font-size: 24px;
}
.profileRight .profileRightTop .profileInfo .profileInfoDesc {
  font-weight: 300;
}
.profile .profileRightBottom {
  display: flex;
}
