.sidebar .sidebarWrapper .sidebarFriendList a {
  text-decoration: none;
  color: black;
}
.sidebar .sidebarWrapper .sidebarFriendList a:hover {
  color: #1877f2;
}
.sidebar .sidebarWrapper .sidebarFriendList .sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.sidebar .sidebarWrapper .sidebarFriendList .sidebarFriend .sidebarFriendImg {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}
.friendListTitle {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
}
